select {
  margin: 50px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: white;
  border: 1px solid;
}

/* CAUTION: Internet Explorer hackery ahead */

select::-ms-expand {
  display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}

/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width: 0\0) {
  select {
    background: none\9;
    padding: 5px\9;
  }
}

button {
  margin-top: 0;
  margin-bottom: 1.5rem;
  margin-left: 0;
  margin-right: 0;
  color: #fff;
  border: none;
  background: #20bea6;
  font-family: khand, sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 50px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 70% !important;
}

button:hover {
  background: black;
}

.header {
  margin: auto;
  max-width: 75%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-shadow: 0px 1px 2px 0px #777;
  -moz-box-shadow: 0px 1px 2px 0px #777;
  box-shadow: 0px 1px 2px 0px #777;
}

.placeholder {
  margin: auto;
  margin-top: 15px;
  max-width: 75%;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-gap: 30px;
}

.cover {
  width: 50%;
  margin: auto;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

img {
  border-radius: 10px;
}

.home,
.loading {
  margin: auto;
  max-width: 75%;
  text-align: center;
}

@keyframes ldio-y14h5djkdzp {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(22.5deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
.ldio-y14h5djkdzp > div {
  transform-origin: 100px 100px;
  animation: ldio-y14h5djkdzp 0.2s infinite linear;
}
.ldio-y14h5djkdzp > div div {
  position: absolute;
  width: 22px;
  height: 152px;
  background: #e15b64;
  left: 100px;
  top: 100px;
  transform: translate(-50%, -50%);
}
.ldio-y14h5djkdzp > div div:nth-child(1) {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.ldio-y14h5djkdzp > div div:nth-child(6) {
  width: 80px;
  height: 80px;
  background: #f9faf4;
  border-radius: 50%;
}
.ldio-y14h5djkdzp > div div:nth-child(3) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.ldio-y14h5djkdzp > div div:nth-child(4) {
  transform: translate(-50%, -50%) rotate(90deg);
}
.ldio-y14h5djkdzp > div div:nth-child(5) {
  transform: translate(-50%, -50%) rotate(135deg);
}
.loadingio-spinner-gear-p23r6blrvgn {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #f9faf4;
}
.ldio-y14h5djkdzp {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-y14h5djkdzp div {
  box-sizing: content-box;
}

header.topbar {
  background-color: #f8f6f6;
  width: 75%;
  margin: auto;
  padding: 0 !important;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
  float: left;
  width: 100px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: khand, sans-serif;
  color: #fff;
  cursor: pointer;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #20bea6;
}
